
h1 {
  color: #ffffff;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  color: #FF7B08;
} 

.search-input{  
  border-radius: 15px;
  border: 2px solid #FF7B08;
  outline: none;
  padding: 8px 10px;
  background: transparent;
  color: white;
  width: 98%;

}


.user-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

